body{

    background:rgb(199, 199, 235);
    margin: 20px 30px 20px 30px;
}

header{

    margin-top: 50px;
}
h1{
    font-style: italic;
    font-family: fantasy;
    font-size: 18px;
    
}
h2{
    font-style: italic;
    font-size: 18px;
}
p{
    font-size: 18px;
}
footer{
    
    font-style: italic;
    font-weight: bolder;
    color: rgb(3, 34, 34);
    text-decoration: underline;
    margin-bottom: 30px;
}
.img_padrao{
    margin-right: 20px;
    width: 300px;
}
.logo{
    width: 70px;
}